body {
  background: #1a2a1f;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.gridStats {
  margin: 2rem 0 6rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.title {
  text-align: center;
  color: #fff;
  margin-top: 8rem;
}

@media (max-width: 60rem) {
  .title {
    font-size: 1.5rem;
    margin-top: 4rem;
  }
}
